<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Hỏi nhanh</title>
</head>
<body>
	<h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
	<form action="/addquestion" method="POST">
		<textarea maxlength="200" name="question" id="" cols="30" rows="10"></textarea>
		<span>còn <span id="remain">200</span>/200 ký tự</span>
		<button type="submit">Submit</button>
	</form>

	<script src="/public/ask.js"></script>
</body>
</html>